.header-container-quiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.3);

  .header-title-quiz {
    margin-left: 5%;
    font-weight: 500;
    border-right: 1px solid black;
    padding-right: 15px;
    animation-name: left-right;
    animation-duration: 0.7s;
  }

  .user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    animation-name: right-left;
    animation-duration: 0.7s;

    .user {
      padding-right: 15px;
      font-weight: 500;
    }

    .user-name {
      padding-right: 20px ;
    }
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;

  .image-box {
    display: flex;
    position: absolute;
    left: 13%;

    .char-image {
      height: 60vh;
      animation-name: appear;
      animation-duration: 0.5s;
    }
  }

  .section-container-title {
    font-size: 50px;
    font-weight: 500;
    animation-name: up-down;
    animation-duration: 0.6s;
  }

  .select-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    animation-name: down-up;
    animation-duration: 0.7s;
  }
  
  .select-label {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .select {
    color: #41ADFB;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding-left: 40%;
    border-radius: 2px;
    border: 1px solid #41ADFB;
    outline: none;
    cursor: pointer;
  }
}

.button-start {
  background-color:#41ADFB;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-top: 8%;
  transition: 0.3s;
  cursor: pointer;
  animation-name: down-up;
  animation-duration: 0.8s;
}

.button-start:hover {
  background-color: white;
  color: #41ADFB;
  border: 1px solid #41ADFB;
}

