.header-container-gabarito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.3);

  .title-container-gabarito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    animation-name: appear;
    animation-duration: 0.7s;

    .header-title-gabarito {
      border-right: 1px solid #000;
      padding-right: 15px;
      font-weight: 500;
    }

    .title-gabarito {
      color:#4BB6F2;
      margin-top: 5px;
      padding-left: 15px;
      font-weight: 500;
      animation-name: up-down;
      animation-duration: 0.6s;
    }
  }

  .user-container-gabarito {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    animation-name: appear;
    animation-duration: 0.7s;

    .user-gabarito {
      padding-right: 15px;
      font-weight: 500;
    }

    .user-name-gabarito {
      padding-right: 20px ;
    }
  }
}

.Score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;

  
  
  .score {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 600px;
    height: 75px;
    box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.2);

    strong {
      padding-left: 15px;
    }
  }
}

.alternatives {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 50%;
  margin-top: -60px;

  .question-gabarito {
    background-color: #4BB6F2;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 20px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .restart-button {
    background-color: #4BB6F2;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  .restart-button:hover {
    background-color: #ffff;
    color: #4BB6F2;
    border: 1px solid #4BB6F2;
  }
}

