.header-container-questions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.3);

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    animation-name: appear;
    animation-duration: 0.7s;

    .header-title-questions {
      border-right: 1px solid #000;
      padding-right: 15px;
      font-weight: 500;
    }

    .title-perguntas {
      color:#4BB6F2;
      margin-top: 5px;
      padding-left: 15px;
      font-weight: 500;
      animation-name: up-down;
      animation-duration: 0.6s;
    }
  }

  .user-container-questions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
    animation-name: appear;
    animation-duration: 0.7s;

    .user-questions {
      padding-right: 15px;
      font-weight: 500;
    }

    .user-name-questions {
      padding-right: 20px ;
    }
  }
}

.question-section {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 90%;
  height: 600px;
  
  .question-box {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    width: 100%;
    height: 130px;
    box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.2);
    animation-name: appear;
    animation-duration: 0.8s;
    
    .question-number {
      margin-left: 60px;
      width: 20%;
    }

    .question {
      width: 80%;
      padding-left: -40px;
      padding-right: 20px;
    }
  }

  .answer-alternative {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    margin: 35px 0 15px 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 60%;
    height: 50px;
    border: 1px solid #4BB6F2;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }


  .answer-alternative:hover {
    box-shadow: 1px 1px 10px 1px rgba($color: #4BB6F2, $alpha: 0.4);
  }

  .answer-alternative:focus {
    background-color: #4BB6F2;
    color: #fff;
  }
  
  .answer-alternative:hover {
    background-color: #4BB6F2;
    color: #fff;
    
  }

  .radio-dot {
    margin-right: 2%;
  }
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  .button {
    background-color: #4BB6F2;
    color: #fff;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    animation-name: appear;
    animation-duration: 0.5s;
  }

  .button:hover {
    background-color: #ffff;
    color: #4BB6F2;
    border: 1px solid #4BB6F2;
  }
}

@media(max-width: 400px) {
  .header-container-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-left: 20px;
      padding-right: 30px;
      font-size: 15px;

      .header-title-questions {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 400;
        padding-right: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid black ;
      }

      .title-perguntas {
        align-items: center;
        justify-content: center;
        margin: -10px 0 10px -10px;
        animation-name: left-right;
        animation-duration: 0.5s;
        
      }
    }

    .user-container-questions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
  
      .user-questions {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;

    .question-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      font-size: 13px;
      padding: 10px;
      margin-left: 40px;

      .question-number {
        padding-right: 10px;
        margin-left: 20px;
        width: 100px;
      }
    }

    .answer-alternative {
      display: flex;
      margin-left: 40px;
      width: 350px;
      height: 80px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

.button-box  {
  margin-top: 10px;
}

@media(max-width: 1110px) {
  .header-container-questions {
    height: 50px;

    .header-title-questions {
      font-size: 20px;
    }

    .title-perguntas {
      font-size: 13px;
    }

    .user-container-questions {
      margin-right: 30px;
      font-size: 15px;
    }
  }

  .question-section {
    height: 500px;
    margin-top: -40px;

    .question-box {
      font-size: 20px;
      height: 70px;
      margin-bottom: 15px;

      .question-number {
        font-size: 15px;
      }

      .question {
        font-size: 12px;
      }
    }

    .answer-alternative {
      font-size: 10px;
      margin: 5px 0 10px 250px;
      height: 10px;
    }
  }
  .button-box {
    margin-top: -17%;
    margin-bottom: 0;
  }
}